<ul>
    @for (todo of listExample; track todo.id) {
      <li>{{ todo.task }}</li>
    }
    </ul>

    <h1>To Do List</h1>
    <button (click)="openAddWindow()"
    class="add">Ajouter une tâche</button>

    <br>
    <br>

    <app-date-picker (dateChange)="onDateFilter($event.date, $event.isChecked)"/>

    @if (dateFilter) {
      @for (todoData of filteredTodos; track todoData.id) {
        <app-todo-list [todo]="todoData" />
      }
    } @else {

      @for (todoData of toDoList; track todoData.id) {
          <app-todo-list [todo]="todoData" />
      }
    
    }