<ul>
    @for (todo of listExample; track todo.id) {
      <li>{{ todo.task }}</li>
    }
    </ul>

    <h1>To Do List</h1>
    <button (click)="openAddWindow()">Ajouter</button>

    <app-date-picker (dateChange)="onDateFilter($event)"/>

    @if (filteredTodos.length > 0) {
      @for (todoData of filteredTodos; track todoData.id) {
        <app-todo-list [todo]="todoData" />
      }
    } @else {

      @for (todoData of toDoList; track todoData.id) {
          <app-todo-list [todo]="todoData" />
      }
    
    }