<ul>
    @for (todo of listExample; track todo.id) {
      <li>{{ todo.task }}</li>
    }
    </ul>

    <h1>To Do List</h1>

    <input type="date"
      [(ngModel)]="dateFilter"
      [ngModelOptions]="{standalone: true}"
    />
    <button (click)="search()">Rechercher</button>

    <div>
    <form>
    <input 
      type="text"
      [(ngModel)]="newToDo"
      [ngModelOptions]="{standalone: true}"
      />
    </form>
    <button (click)="onAddToDoClick()">Ajouter</button>
    </div>

    @for (todoData of toDoList(); track todoData.id) {
      @if (filter) {
       @if (todoData.dateCompleted == dateFilter) {
        <app-todo-list [todo]="todoData" />
      }
      
    } @else {
        <app-todo-list [todo]="todoData" />
    }
    
    }