<div class="date-picker">
    <button (click)="changeDate(dateThreeDaysAgo)">{{ dateThreeDaysAgo }}</button>
    <button (click)="changeDate(dateTwoDaysAgo)">{{ dateTwoDaysAgo }}</button>
    <button (click)="changeDate(dateOneDayAgo)">{{ dateOneDayAgo }}</button>
    <input type='date'
      [(ngModel)]="selectedDate" 
      (ngModelChange)="onDateChange($event)"/>
    <button (click)="changeDate(dateOneDayAfter)">{{ dateOneDayAfter }}</button>
    <button (click)="changeDate(dateTwoDayAfter)">{{ dateTwoDayAfter }}</button>
    <button (click)="changeDate(dateThreeDayAfter)">{{ dateThreeDayAfter }}</button>

    <div class="checkbox-filtre">
      <label>
        <input type="checkbox" 
        [(ngModel)]="onChecked"
        (ngModelChange)="onCheckedChange($event)"/>Non complétées</label>
    </div>
</div>